<div class="title">Informes</div>
<hr/>
<div class="title">Informes de donantes</div>

<div class="columns mt-5">
  <div class="column">
    <div class="box">
      <p class="subtitle">Donantes por tipo</p>
      <%= column_chart @donantes_por_tipo %>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <p class="subtitle">Donantes por grupo y factor</p>
      <%= column_chart @grupo_y_factor, stacked: true %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="box">
      <p class="subtitle">Voluntarios o del club con más de una donación en ese status en el último año</p>
      <%= column_chart @voluntarios_recurrentes %>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <p class="subtitle">Donaciones por reposición que volvieron como voluntarios/del club</p>
      <%= column_chart @convertidos %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="box">
      <p class="subtitle">Porcentaje de predonantes aptos</p>
      <%= pie_chart @predonantes_aptos %>
    </div>
  </div>
  <div class="column">

  </div>
</div>

<hr/>
<div class="title">Informes de donaciones</div>

<div class="box">
  <p class="subtitle">Donaciones del último año por mes</p>
  <%= column_chart @donaciones_por_mes, stacked: true %>
</div>

<div class="box">
  <p class="subtitle">Donaciones del último año por tipo de donante</p>
  <%= column_chart @donaciones_por_tipo_donante, stacked: true %>
</div>

<div class="columns">
  <div class="column">
    <div class="box">
      <p class="subtitle">Predonantes recientes</p>
      <%= column_chart @predonantes_recientes %>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <p class="subtitle">Donaciones por institución</p>
      <%= column_chart @donaciones_por_institucion %>
    </div>
  </div>
</div>
