<div id="<%= dom_id donante %>">
  <div class="columns">
    <div class="column">
      <div class="box">
        <p class="subtitle">Datos personales</p>
        <p><span class="has-text-weight-bold">Nombre: </span><%= "#{donante.nombre} #{donante.segundo_nombre} #{donante.apellidos}" %></p>
        <p><span class="has-text-weight-bold">Documento: </span><%= "#{donante.tipo_documento} #{donante.numero_documento}" %></p>
        <p><span class="has-text-weight-bold">Sexo: </span><%= donante.sexo&.humanize %></p>
        <p><span class="has-text-weight-bold">Fecha de nacimiento: </span><%= "#{localize donante.fecha_nacimiento} (#{donante.edad} años)" %></p>
        <p><span class="has-text-weight-bold">Es candidato: </span><%= donante.candidato? ? "Sí" : "No" %></p>
        <p><span class="has-text-weight-bold">Está suscripto: </span><%= donante.suscripto ? "Sí" : "No" %></p>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <p class="subtitle">Datos de donación</p>
        <p><span class="has-text-weight-bold">Tipo de donante: </span><%= tipo_donante(donante.tipo_donante) %></p>
        <p><span class="has-text-weight-bold">Grupo y factor: </span><%= grupo_y_factor(donante.grupo_sanguineo, donante.factor) %></p>
        <p><span class="has-text-weight-bold">Predonante de plaquetas: </span><%= mostrar_booleano(donante.predonante_plaquetas) %></p>
        <p><span class="has-text-weight-bold">Motivo rechazo predonante: </span><%= motivo_rechazo(donante.motivo_rechazo_predonante_plaquetas).presence || "N/A" %></p>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <p class="subtitle">Datos de contacto</p>
        <p><span class="has-text-weight-bold">Teléfono: </span><%= donante.telefono %></p>
        <p><span class="has-text-weight-bold">Correo electrónico: </span><%= donante.correo_electronico %></p>
        <p><span class="has-text-weight-bold">Ocupación: </span><%= donante.ocupacion %></p>
        <p><span class="has-text-weight-bold">Domicilio: </span><%= direccion_completa(donante.direccion, donante.localidad, donante.provincia, donante.pais, donante.codigo_postal) %></p>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-7">
      <section class="section">
        <h2 class="subtitle is-3">Donaciones</h2>
        <table class="table is-striped is-hoverable">
          <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Serología</th>
            <th scope="col">Colecta</th>
            <th scope="col">Clínica destino</th>
            <th scope="col">Relacionado</th>
            <th scope="col">Motivo de rechazo</th>
          </tr>
          </thead>
          <tbody>
          <% donante.donaciones.order(fecha: :desc).each do |donacion| %>
            <tr>
              <td><%= localize donacion.fecha %></td>
              <td><%= donacion.serologia&.humanize.presence || "Sin información" %></td>
              <td><%= mostrar_booleano(donacion.colecta?) %></td>
              <td><%= donacion.clinica&.nombre %></td>
              <td><%= mostrar_booleano(donacion.relacionado?) %></td>
              <td><%= motivo_rechazo(donacion.motivo_rechazo) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </section>
    </div>

    <div class="column is-5">
      <section class="section">
        <div class="level">
          <div class="level-left">
            <h2 class="level-item subtitle is-3">Exclusiones</h2>
          </div>
          <div class="level-right">
            <%= link_to new_donante_exclusion_path(@donante), class: "level-item button is-small is-rounded" do %>
            <span class="icon">
              <i class="fas fa-circle-plus"></i>
            </span>
              <span>Crear exclusión</span>
            <% end %>
          </div>
        </div>
        <table class="table is-striped is-hoverable">
          <thead>
          <tr>
            <th scope="col">Fecha<br>inicio</th>
            <th scope="col">Fecha<br>fin</th>
            <th scope="col">Motivo</th>
            <th scope="col">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <% donante.exclusiones.order(fecha_fin: :desc).each do |exclusion| %>
            <tr>
              <td><%= localize exclusion.fecha_inicio %></td>
              <td><%= localize exclusion.fecha_fin %></td>
              <td><%= exclusion.motivo %></td>
              <td>
                <div class="level">
                  <div class="level-left">
                    <%= link_to edit_donante_exclusion_path(@donante, exclusion), class: "level-item button is-small is-rounded" do %>
                    <span class="icon">
                      <i class="far fa-pen-to-square"></i>
                    </span>
                    <% end %>
                  </div>
                  <div class="level-right">
                    <%= button_to donante_exclusion_path(@donante, exclusion), method: :delete, form: { data: { turbo_confirm: '¿Confirmar eliminación de la exclusión?' } }, class: "level-item button is-small is-rounded is-danger" do %>
                    <span class="icon">
                      <i class="fas fa-trash-can"></i>
                    </span>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </section>
    </div>
  </div>

  <section class="section">
    <h2 class="subtitle is-3">Automatizaciones y campañas</h2>
    <table class="table is-striped is-hoverable">
      <thead>
      <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Estado</th>
      </tr>
      </thead>
      <tbody>
      <% donante.interacciones.each do |interaccion| %>
      <% ejecutable = interaccion.ejecutable %>
        <tr>
          <td><%= ejecutable.class.name %></td>
          <td><%= ejecutable.nombre %></td>
          <td><%= localize(interaccion.fecha, format: :long) %></td>
          <td><%= estado_interaccion(interaccion.estado_interaccion) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>

</div>