<div id="<%= dom_id donante %>">
  <div class="columns">
    <div class="column">
      <div class="box">
        <p class="subtitle">Datos personales</p>
        <p><span class="has-text-weight-bold">Nombre: </span><%= "#{donante.nombre} #{donante.segundo_nombre} #{donante.apellidos}" %></p>
        <p><span class="has-text-weight-bold">Documento: </span><%= "#{donante.tipo_documento} #{donante.numero_documento}" %></p>
        <p><span class="has-text-weight-bold">Sexo: </span><%= donante.sexo.humanize %></p>
        <p><span class="has-text-weight-bold">Fecha de nacimiento: </span><%= "#{localize donante.fecha_nacimiento} (#{donante.edad} años)" %></p>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <p class="subtitle">Datos de donación</p>
        <p><span class="has-text-weight-bold">Tipo de donante: </span><%= tipo_donante(donante.tipo_donante) %></p>
        <p><span class="has-text-weight-bold">Grupo y factor: </span><%= grupo_y_factor(donante.grupo_sanguineo, donante.factor) %></p>
        <p><span class="has-text-weight-bold">Predonante de plaquetas: </span><%= mostrar_booleano(donante.predonante_plaquetas) %></p>
        <p><span class="has-text-weight-bold">Motivo rechazo predonante: </span><%= donante.motivo_rechazo_predonante_plaquetas %></p>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <p class="subtitle">Datos de contacto</p>
        <p><span class="has-text-weight-bold">Teléfono: </span><%= donante.telefono %></p>
        <p><span class="has-text-weight-bold">Correo electrónico: </span><%= donante.correo_electronico %></p>
        <p><span class="has-text-weight-bold">Ocupación: </span><%= donante.ocupacion %></p>
        <p><span class="has-text-weight-bold">Domicilio: </span><%= direccion_completa(donante.direccion, donante.localidad, donante.provincia, donante.pais, donante.codigo_postal) %></p>
      </div>
    </div>
  </div>

  <section class="section">
    <h2 class="subtitle is-3">Donaciones</h2>
    <table class="table is-striped is-hoverable">
      <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Serología</th>
        <th scope="col">Colecta</th>
        <th scope="col">Clínica destino</th>
        <th scope="col">Relacionado</th>
        <th scope="col">Motivo de rechazo</th>
      </tr>
      </thead>
      <tbody>
      <% donante.donaciones.order(fecha: :desc).each do |donacion| %>
        <tr>
          <td><%= localize donacion.fecha %></td>
          <td><%= donacion.serologia.humanize %></td>
          <td><%= mostrar_booleano(donacion.colecta?) %></td>
          <td><%= donacion.clinica&.nombre %></td>
          <td><%= mostrar_booleano(donacion.relacionado?) %></td>
          <td><%= donacion.motivo_rechazo %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>

</div>