<%= form_with(model: donante) do |form| %>
  <% if donante.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(donante.errors.count, "error", "errores") %> evitaron que el donante sea guardado:</h2>

      <ul>
        <% donante.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :nombre %>
  <%= form.text_field :nombre %>
  <%= form.label :segundo_nombre %>
  <%= form.text_field :segundo_nombre %>
  <%= form.label :apellidos %>
  <%= form.text_field :apellidos %>
  <%= form.label :tipo_documento %>
  <%= form.select :tipo_documento, Donante.tipo_documentos.keys %>
  <%= form.label :numero_documento %>
  <%= form.text_field :numero_documento %>
  <%= form.label :sexo %>
  <%= form.select :sexo, options_for_select(Donante.sexos.keys.map{ |key| [key.humanize, key] }) %>
  <%= form.label :fecha_nacimiento %>
  <%= form.date_field :fecha_nacimiento %>
  <%= form.label :tipo_donante %>
  <%= form.select :tipo_donante, options_for_select(Donante.tipo_donantes.keys.map{ |key| [key.humanize, key] }) %>
  <%= form.label :telefono %>
  <%= form.text_field :telefono %>
  <%= form.label :correo_electronico %>
  <%= form.email_field :correo_electronico %>
  <%= form.label :ocupacion %>
  <%= form.text_field :ocupacion %>
  <%= form.label :grupo_sanguineo %>
  <%= form.select :grupo_sanguineo, options_for_select(Donante.grupo_sanguineos.keys) %>
  <%= form.label :factor %>
  <%= form.select :factor, options_for_select(Donante.factores.keys.map{ |key| [key.humanize, key] }) %>
  <%= form.label :direccion %>
  <%= form.text_field :direccion %>
  <%= form.label :localidad %>
  <%= form.text_field :localidad %>
  <%= form.label :provincia %>
  <%= form.text_field :provincia %>
  <%= form.label :pais %>
  <%= form.text_field :pais %>
  <%= form.label :codigo_postal %>
  <%= form.text_field :codigo_postal %>

  <div>
    <%= form.submit "Guardar" %>
  </div>
<% end %>
