<%= form_with(model: donante) do |form| %>
  <% if donante.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(donante.errors.count, "error", "errores") %> evitaron que el donante sea guardado:</h2>

      <ul>
        <% donante.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="column">
      <div class="box">
        <div class="field">
          <%= form.label :nombre, class: "label" %>
          <div class="control">
            <%= form.text_field :nombre, class: "input is-rounded" %>
          </div>
        </div>
        <div class="field">
          <%= form.label :segundo_nombre, class: "label" %>
          <div class="control">
            <%= form.text_field :segundo_nombre, class: "input is-rounded" %>
          </div>
        </div>
        <div class="field">
          <%= form.label :apellidos, class: "label" %>
          <div class="control">
            <%= form.text_field :apellidos, class: "input is-rounded" %>
          </div>
        </div>
        <div class="field">
          <%= form.label :tipo_documento, class: "label" %>
          <div class="control">
            <div class="select is-rounded">
              <%= form.select :tipo_documento, Donante.tipo_documentos.keys, { include_blank: "" } %>
            </div>
          </div>
        </div>
        <div class="field">
          <%= form.label :numero_documento, class: "label" %>
          <div class="control">
            <%= form.text_field :numero_documento, class: "input is-rounded" %>
          </div>
        </div>
        <div class="field">
          <%= form.label :sexo, class: "label" %>
          <div class="control">
            <%= form.label :sexo, class: "radio" do %>
              <%= form.radio_button :sexo, "masculino" %> Masculino
            <% end %>
            <%= form.label :sexo, class: "radio" do %>
              <%= form.radio_button :sexo, "femenino" %> Femenino
            <% end %>
          </div>
        </div>
        <div class="field">
          <%= form.label :fecha_nacimiento, class: "label" %>
          <div class="control">
            <%= form.date_field :fecha_nacimiento, class: "input is-rounded" %>
          </div>
        </div>
        <div class="field">
          <%= form.label :candidato, class: "label" %>
          <div class="control">
            <%= form.label :candidato, class: "radio" do %>
              <%= form.radio_button :candidato, true %> Sí
            <% end %>
            <%= form.label :candidato, class: "radio" do %>
              <%= form.radio_button :candidato, false %> No
            <% end %>
          </div>
        </div>
        <div class="field">
          <%= form.label :respondio_bienvenida, class: "label" %>
          <div class="control">
            <%= form.label :respondio_bienvenida, class: "radio" do %>
              <%= form.radio_button :respondio_bienvenida, true %> Sí
            <% end %>
            <%= form.label :respondio_bienvenida, class: "radio" do %>
              <%= form.radio_button :respondio_bienvenida, false %> No
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="box">
        <div class="field">
          <%= form.label :tipo_donante, class: "label" %>
          <div class="control">
            <%= form.label :tipo_donante, class: "radio" do %>
              <%= form.radio_button :tipo_donante, "club" %> Club de donantes
            <% end %>
            <%= form.label :tipo_donante, class: "radio" do %>
              <%= form.radio_button :tipo_donante, "voluntario" %> Voluntario
            <% end %>
            <%= form.label :tipo_donante, class: "radio" do %>
              <%= form.radio_button :tipo_donante, "reposicion" %> Reposición
            <% end %>
          </div>
        </div>
        <div class="field">
          <%= form.label :grupo_sanguineo, class: "label" %>
          <div class="control">
            <%= form.label :grupo_sanguineo, class: "radio" do %>
              <%= form.radio_button :grupo_sanguineo, "0" %> 0
            <% end %>
            <%= form.label :grupo_sanguineo, class: "radio" do %>
              <%= form.radio_button :grupo_sanguineo, "A" %> A
            <% end %>
            <%= form.label :grupo_sanguineo, class: "radio" do %>
              <%= form.radio_button :grupo_sanguineo, "B" %> B
            <% end %>
            <%= form.label :grupo_sanguineo, class: "radio" do %>
              <%= form.radio_button :grupo_sanguineo, "AB" %> AB
            <% end %>
          </div>
        </div>
        <div class="field">
          <%= form.label :factor, class: "label" %>
          <div class="control">
            <%= form.label :factor, class: "radio" do %>
              <%= form.radio_button :factor, "positivo" %> +
            <% end %>
            <%= form.label :factor, class: "radio" do %>
              <%= form.radio_button :factor, "negativo" %> -
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="box">
        <div class="field">
          <%= form.label :telefono, class: "label" %>
          <div class="control">
            <%= form.text_field :telefono, class: "input is-rounded" %>
          </div>
        </div>
        <div class="field">
          <%= form.label :correo_electronico, class: "label" %>
          <div class="control">
            <%= form.email_field :correo_electronico, class: "input is-rounded" %>
          </div>
        </div>
        <div class="field">
          <%= form.label :ocupacion, class: "label" %>
          <div class="control">
            <%= form.text_field :ocupacion, class: "input is-rounded" %>
          </div>
        </div>
        <div class="field">
          <%= form.label :direccion, class: "label" %>
          <div class="control">
            <%= form.text_field :direccion, class: "input is-rounded" %>
          </div>
        </div>
        <div class="field">
          <%= form.label :localidad, class: "label" %>
          <div class="control">
            <%= form.text_field :localidad, class: "input is-rounded" %>
          </div>
        </div>
        <div class="field">
          <%= form.label :provincia, class: "label" %>
          <div class="control">
            <%= form.text_field :provincia, class: "input is-rounded" %>
          </div>
        </div>
        <div class="field">
          <%= form.label :pais, class: "label" %>
          <div class="control">
            <%= form.text_field :pais, class: "input is-rounded" %>
          </div>
        </div>
        <div class="field">
          <%= form.label :codigo_postal, class: "label" %>
          <div class="control">
            <%= form.text_field :codigo_postal, class: "input is-rounded" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <%= form.button type: "submit", class: "button is-primary is-rounded is-pulled-right" do %>
    <span class="icon">
      <i class="fas fa-floppy-disk"></i>
    </span>
    <span>Guardar</span>
    <% end %>
  </div>
<% end %>
