<span class="title">Donantes</span>

<%= link_to importar_donantes_path, class: "button is-primary is-rounded ml-5" do %>
  <span class="icon">
    <i class="fas fa-circle-plus"></i>
  </span>
  <span>Importar donantes</span>
<% end %>

<%= link_to new_donante_path, class: "button is-link is-rounded ml-5" do %>
  <span class="icon">
    <i class="fas fa-circle-plus"></i>
  </span>
  <span>Crear donante</span>
<% end %>

<div class="container">
  <table class="table is-striped is-hoverable mx-auto">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Edad</th>
      <th scope="col">Tipo de donante</th>
      <th scope="col">Última donación</th>
      <th scope="col">Grupo y factor</th>
      <th scope="col">Detalles</th>
    </tr>
    </thead>
    <tbody>
    <% @donantes.each do |donante| %>
      <tr>
        <td><%= donante.nombre_completo %></td>
        <td><%= donante.edad %></td>
        <td><%= tipo_donante(donante.tipo_donante) %></td>
        <td><%= fecha_ultima_donacion(donante) %></td>
        <td><%= grupo_y_factor(donante.grupo_sanguineo, donante.factor) %></td>
        <td><%= link_to "Detalles", donante %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>