<%= form_with(model: exclusion, url: url) do |form| %>
  <% if exclusion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exclusion.errors.count, "error", "errores") %> evitaron que la clínica sea guardada:</h2>

      <ul>
        <% exclusion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :donante_id, value: @donante.id %>

  <div class="columns" data-controller="hello">
    <div class="column is-3">
      <div class="field">
        <%= label_tag :exclusion_tipica, "Tipo de exclusión" , class: "label" %>
        <div class="control">
          <div class="select is-rounded">
            <%= select_tag :exclusion_tipica, options_for_select(ExclusionTipica.all.map { |exclusion| [exclusion.motivo, exclusion.duracion] }), include_blank: "Otro", data: { action: "input->hello#setFechaExclusion" } %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label :fecha_inicio, class: "label" %>
        <div class="control">
          <%= form.date_field :fecha_inicio, class: "input is-rounded" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :fecha_fin, class: "label" %>
        <div class="control">
          <%= form.date_field :fecha_fin, class: "input is-rounded" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :motivo, class: "label" %>
        <div class="control">
          <%= form.text_field :motivo, class: "input is-rounded" %>
        </div>
      </div>

      <div>
        <%= form.button type: "submit", class: "button is-primary is-rounded is-pulled-right" do %>
        <span class="icon">
          <i class="fas fa-floppy-disk"></i>
        </span>
          <span>Guardar</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
