<div id="<%= dom_id lista_estatica %>">
  <%= button_to actualizar_donantes_lista_path(@lista), method: :post, form: { data: { turbo_confirm: '¿Confirmar actualización de donantes?' } }, class: "button is-link is-rounded is-small" do %>
    <span class="icon">
      <i class="fas fa-rotate"></i>
    </span>
    <span>Actualizar donantes</span>
  <% end %>

  <p>
    <strong>Nombre:</strong>
    <%= lista_estatica.nombre %>
  </p>
  <br>
  <p><strong>Filtros:</strong></p>
  <dl>
    <% condiciones_filtro(lista_estatica).each do |condicion| %>
      <li>
        <i><%= "#{condicion[:atributo]}" %></i>
        <b><%= "#{condicion[:predicado]}" %></b>
        <span>"<%= "#{condicion[:valor]}" %>"</span>
      </li>
    <% end %>
  </dl>
  <br>
  <p><strong>Donantes (se muestran todos, <%= lista_estatica.donantes.count %> en total):</strong></p>
    <div class="container">
      <table class="table is-striped is-hoverable is-fullwidth mx-auto mt-5">
        <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Tipo donante</th>
          <th scope="col">Última donación</th>
          <th scope="col">Grupo y factor</th>
          <th scope="col">Documento</th>
          <th scope="col">Correo electrónico</th>
        </tr>
        </thead>
        <tbody>
        <% lista_estatica.donantes.each do |donante| %>
          <tr>
            <td style="width: 20%"><%= donante.nombre_completo %></td>
            <td><%= donante.edad %></td>
            <td><%= tipo_donante(donante.tipo_donante) %></td>
            <td><%= fecha_ultima_donacion(donante) %></td>
            <td><%= grupo_y_factor(donante.grupo_sanguineo, donante.factor) %></td>
            <td><%= donante.numero_documento %></td>
            <td><%= donante.correo_electronico %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
</div>
