<div class="mb-3">
  <%= form.condition_fields do |c| %>
    <%= c.attribute_fields do |a| %>
      <%= tag.span a.attribute_select(associations: "donaciones"), class: "select is-rounded is-small" %>
    <% end %>
    <%= tag.span c.predicate_select, class: "select is-rounded is-small" %>
    <%= c.value_fields do |v| %>
      <%= tag.span v.text_field :value, class: "input is-rounded is-small", style: "width:25%" %>
    <% end %>
  <% end %>
  <button type="button" class="delete" data-action="click->hello#delete"></button>
</div>