<%= form_with(model: lista, scope: :lista, url: lista.persisted? ? lista_path(lista) : listas_path) do |form| %>
  <% if lista.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lista.errors.count, "error", "errores") %> evitaron que la lista sea guardada:</h2>

      <ul>
        <% lista.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="notification is-info is-light content">
    <p>Adicionalmente a los filtros específicos de cada lista, hay algunos filtros que se aplican siempre:</p>
    <ul>
      <li>Edad apta (entre 18 y 65 años)</li>
      <li>Sin serología reactiva</li>
      <li>Sin exclusiones</li>
    </ul>
    <p>Además, las automatizaciones se envían una única vez por cada donación.</p>
  </div>

  <div class="field">
    <%= form.label :nombre, "Nombre", class: "label" %>
    <div class="control">
      <%= form.text_field :nombre, value: lista&.nombre, class: "input is-rounded" %>
    </div>
  </div>

  <div id="filtros">
    <% if lista.persisted? %>
      <% lista.filtro.parametros.each_with_index do |filtro, indice| %>
        <%= render "/filtros/filtros", form: form, id: indice, filtro: filtro %>
      <% end %>
    <% else %>
      <%= render "/filtros/filtros", form: form, id: "0", filtro: nil %>
    <% end %>
  </div>
  <button class="button is-rounded is-small mt-4" data-reflex="click->ListasReflex#agregar_filtro">Agregar filtro</button>

  <div>
    <%= form.button type: "submit", class: "button is-primary is-rounded is-pulled-right mt-4" do %>
        <span class="icon">
          <i class="fas fa-floppy-disk"></i>
        </span>
      <span>Guardar</span>
    <% end %>
  </div>
<% end %>
