<%= search_form_for filtros_donante, url: lista.persisted? ? lista_path(lista) : listas_path, html: { method: lista.persisted? ? :put : :post } do |form| %>
  <% if lista.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lista.errors.count, "error", "errores") %> evitaron que la lista sea guardada:</h2>

      <ul>
        <% lista.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag "lista[type]", lista.type %>

  <div class="field">
    <%= label_tag "lista[nombre]", "Nombre", class: "label" %>
    <div class="control">
      <%= text_field_tag "lista[nombre]", lista&.nombre, class: "input is-rounded" %>
    </div>
  </div>

  <div data-controller="hello">
    <%= render "condicion", form: form %>
    <button class="button is-rounded" type="button" data-action="click->hello#addCondition">Agregar condición</button>
  </div>

  <div>
    <%= form.button type: "submit", class: "button is-primary is-rounded is-pulled-right mt-4" do %>
        <span class="icon">
          <i class="fas fa-floppy-disk"></i>
        </span>
      <span>Guardar</span>
    <% end %>
  </div>
<% end %>
