<div class="title">Informes</div>
<hr/>
<div class="title">Informes de donantes</div>

<div class="columns mt-5">
  <div class="column">
    <div class="box">
      <p class="subtitle">Donantes del último año por tipo</p>
      <%= column_chart @donantes_por_tipo %>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <p class="subtitle">Donantes del último año por grupo y factor</p>
      <%= column_chart @donantes_por_grupo_y_factor, stacked: true %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="box">
      <p class="subtitle">Donantes recurrentes</p>
      <p>Voluntarios o del club con más de una donación en ese status en el último año</p>
      <%= column_chart @recurrentes %>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <p class="subtitle">Donantes fidelizados</p>
      <p>Donantes por reposición que volvieron como voluntarios o del club en el último año</p>
      <%= column_chart @fidelizados %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="box">
      <p class="subtitle">Porcentaje de predonantes aptos en el último año</p>
      <%= pie_chart @predonantes_aptos_vs_no_aptos %>
    </div>
  </div>
  <div class="column">

  </div>
</div>

<hr/>
<div class="title">Informes de donaciones</div>

<div class="box">
  <p class="subtitle">Donaciones del último año por mes</p>
  <%= column_chart @donaciones_por_mes, stacked: true %>
</div>

<div class="box">
  <p class="subtitle">Donaciones del último año por tipo de donante</p>
  <%= column_chart @donaciones_por_tipo_donante, stacked: true %>
</div>

<div class="columns">
  <div class="column">
    <div class="box">
      <p class="subtitle">Predonantes recientes</p>
      <p>Donaron (sangre o plaquetas) en los últimos 2 meses</p>
      <%= column_chart @predonantes_recientes %>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <p class="subtitle">Donaciones del último año por institución</p>
      <%= column_chart @donaciones_por_institucion %>
    </div>
  </div>
</div>

<hr/>
<div class="title">Informes de comunicaciones</div>

<div class="columns">
  <div class="column">
    <div class="box">
      <p class="subtitle">Emails enviados vs Emails abiertos</p>
      <p>Del último año</p>
      <%= pie_chart @porcentaje_emails_abiertos %>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <p class="subtitle">Emails entregados vs Emails fallidos</p>
      <p>Del último año</p>
      <%= pie_chart @porcentaje_emails_entregados %>
    </div>
  </div>
</div>
