<%= form_with(model: plantilla) do |form| %>
  <% if plantilla.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(plantilla.errors.count, "error", "errores") %> evitaron que la plantilla sea guardada:</h2>

      <ul>
        <% plantilla.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre, class: "label" %>
    <div class="control">
      <%= form.text_field :nombre, class: "input is-rounded" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :reutilizable, "Reutilizable (marcar para poder usar esta planilla como header o footer de otra plantilla)", class: "label" %>
    <div class="control">
      <%= form.check_box :reutilizable, class: "is-rounded" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :header_id, "Header", class: "label" %>
    <div class="control">
      <div class="select is-rounded">
        <%= form.collection_select :header_id, Plantilla.where(reutilizable: true), :id, :nombre, { include_blank: "" } %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :header_id, "Footer", class: "label" %>
    <div class="control">
      <div class="select is-rounded">
        <%= form.collection_select :footer_id, Plantilla.where(reutilizable: true), :id, :nombre, { include_blank: "" } %>
      </div>
    </div>
  </div>

  <%= form.text_area :contenido, value: plantilla.contenido ? plantilla.contenido : nil, class: "tinymce", rows: 20, cols: 120 %>
  <%= tinymce %>

  <div>
    <%= form.button type: "submit", class: "button is-primary is-rounded is-pulled-right mt-4" do %>
        <span class="icon">
          <i class="fas fa-floppy-disk"></i>
        </span>
      <span>Guardar</span>
    <% end %>
  </div>
<% end %>
