<%= form_with(model: plantilla) do |form| %>
  <% if plantilla.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(plantilla.errors.count, "error", "errores") %> evitaron que la plantilla sea guardada:</h2>

      <ul>
        <% plantilla.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre, class: "label" %>
    <div class="control">
      <%= form.text_field :nombre, class: "input is-rounded" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :reutilizable, "Tipo", class: "label" %>
    <div class="control">
      <div class="select is-rounded">
        <%= form.select :reutilizable, [["Para campaña o automatización", false], ["Reutilizable (encabezado o firma)", true]], { }, { data: { reflex: "change->PlantillasReflex#actualizar_campos" } } %>
      </div>
    </div>
  </div>

  <fieldset id="form-plantilla" <%= plantilla.reutilizable ? "disabled" : "" %>>
    <div class="field">
      <%= form.label :encabezado_id, "Encabezado", class: "label" %>
      <div class="control">
        <div class="select is-rounded">
          <%= form.collection_select :encabezado_id, Plantilla.where(reutilizable: true), :id, :nombre, { include_blank: "" } %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label :firma_id, "Firma", class: "label" %>
      <div class="control">
        <div class="select is-rounded">
          <%= form.collection_select :firma_id, Plantilla.where(reutilizable: true), :id, :nombre, { include_blank: "" } %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label :asunto, class: "label" %>
      <div class="control">
        <%= form.text_field :asunto, class: "input is-rounded" %>
      </div>
    </div>
  </fieldset>

  <div class="box mt-4">
    <p>En este editor pueden usarse variables con información del donante que serán reemplazadas al enviarse el mail.</p>
    <p>Las variables disponibles son:</p>
    <p>
      <% atributos_donante.each do |atributo| %>
        <span class="tag">{{<%= atributo %>}}</span>
      <% end %>
    </p>
    <br>
    <p>La variable <span class="tag">{{link_recibir_recordatorios}}</span> muestra un botón con el texto "Quiero recibir recordatorios", con un link clickeable por el donante.</p>
    <p>La variable <span class="tag">{{link_desuscribir}}</span> muestra un botón con el texto "Desuscribirme", con un link clickeable por el donante.</p>
  </div>

  <%= form.text_area :contenido, value: plantilla.contenido ? plantilla.contenido : nil, class: "tinymce", rows: 20, cols: 120 %>
  <%= tinymce %>

  <div>
    <%= form.button type: "submit", class: "button is-primary is-rounded is-pulled-right mt-4" do %>
      <span class="icon">
        <i class="fas fa-floppy-disk"></i>
      </span>
      <span>Guardar</span>
    <% end %>
  </div>
<% end %>