<div id="<%= dom_id campania %>">
  <div class="columns">
    <div class="column">
      <p>
        <strong>Nombre:</strong>
        <%= campania.nombre %>
      </p>
      <br>
      <p>
        <strong>Lista:</strong>
        <%= link_to "#{campania.lista.nombre}", campania.lista, data: { turbo_frame: "_top" } %>
      </p>
      <br>
      <p>
        <strong>Plantilla:</strong>
        <%= link_to "#{campania.plantilla.nombre}", campania.plantilla, data: { turbo_frame: "_top" } %>
      </p>
      <br>
      <p>
        <strong>Remitente:</strong>
        <%= campania.remitente %>
      </p>
      <br>
      <div class="buttons">
        <%= button_to enviar_campania_path(campania), method: :post, form: { data: { turbo_confirm: '¿Enviar campaña?' } }, class: "button is-info is-rounded" do %>
    <span class="icon">
      <i class="far fa-paper-plane"></i>
    </span>
          <span>Enviar ahora</span>
        <% end %>

        <button class="button is-rounded" data-controller="hello" data-action="click->hello#toggleProgramar">Programar</button>
      </div>

      <div id="programar" class="field is-hidden">
        <%= form_with(url: programar_campania_path(campania)) do |form| %>
          <input name="fecha" type="datetime-local" style="width: 35%" class="input is-rounded">

          <%= form.button type: "submit", class: "button is-rounded" do %>
      <span class="icon">
        <i class="far fa-paper-plane"></i>
      </span>
            <span>Programar</span>
          <% end %>
        <% end %>
      </div>

      <div class="subtitle">Envíos</div>

      <% campania.ejecuciones.order(fecha: :desc).each do |ejecucion| %>
        <div>
          <%= localize(ejecucion.fecha, format: :long) %>
          <% unless ejecucion.ejecutada? %>
            <%= link_to "Cancelar envío", cancelar_campania_path(ejecucion.id), data: {turbo_method: :delete, turbo_confirm: '¿Confirmar cancelación de envío?'}, class: "delete" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="column">
      <div class="box">
        <p class="subtitle">Efectividad</p>
        <p>Cuántos donantes de los que se invitaron donaron efectivamente luego de recibirla</p>
        <%= pie_chart @efectividad %>
      </div>
    </div>
  </div>

  <br>
  <p>Al enviar esta campaña se contactará a los siguientes donantes (<%= campania.donantes.size %> en total):</p>
  <div class="container">
    <table class="table is-striped is-hoverable is-fullwidth mx-auto mt-5">
      <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">Tipo donante</th>
        <th scope="col">Última donación</th>
        <th scope="col">Grupo y factor</th>
        <th scope="col">Documento</th>
        <th scope="col">Correo electrónico</th>
        <th scope="col">Detalles</th>
      </tr>
      </thead>
      <tbody>
      <% campania.donantes.each do |donante| %>
        <tr>
          <td style="width: 20%"><%= donante.nombre_completo %></td>
          <td><%= donante.edad %></td>
          <td><%= tipo_donante(donante.tipo_donante) %></td>
          <td><%= fecha_ultima_donacion(donante) %></td>
          <td><%= grupo_y_factor(donante.grupo_sanguineo, donante.factor) %></td>
          <td><%= donante.numero_documento %></td>
          <td><%= donante.correo_electronico %></td>
          <td><%= link_to "Detalles", donante, data: { turbo_frame: "_top" } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <br>
  <hr>

  <% if Donante.first.present? %>
    <p><strong>Ejemplo de contenido:</strong> (usando a <a target="_blank" href="/donantes/<%= Donante.first.id %>">este donante</a> como ejemplo)</p>
    <div class="box">
      <%= campania.plantilla.contenido_reemplazado(Donante.first) %>
    </div>
  <% end %>
</div>
