
<div id="<%= dom_id campania %>">
  <p>
    <strong>Nombre:</strong>
    <%= campania.nombre %>
  </p>
  <br>
  <p>
    <strong>Lista:</strong>
    <%= campania.lista.nombre %>
  </p>
  <br>
  <p>
    <strong>Plantilla:</strong>
    <%= campania.plantilla.nombre %>
  </p>
  <br>
  <p>
    <strong>Activa:</strong>
    <%= campania.activa? ? "Sí" : "No" %>
  </p>
  <br>
  <p>
    <strong>Última ejecución:</strong>
    <%= localize(campania.ejecuciones.last&.fecha) %>
  </p>
</div>
