<%= form_with(model: campania) do |form| %>
  <% if campania.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(campania.errors.count, "error") %> evitaron que la campaña sea guardada:</h2>

      <ul>
        <% campania.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre, class: "label" %>
    <div class="control">
      <%= form.text_field :nombre, class: "input is-rounded" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :lista_id, "Lista", class: "label" %>
    <div class="control">
      <div class="select is-rounded">
        <%= form.collection_select :lista_id, Lista.all, :id, :nombre, { include_blank: "" } %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :plantilla_id, "Plantilla", class: "label" %>
    <div class="control">
      <div class="select is-rounded">
        <%= form.collection_select :plantilla_id, Plantilla.all, :id, :nombre, { include_blank: "" } %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :activa, class: "label" %>
    <%= form.check_box :activa %>
  </div>

  <div>
    <%= form.button type: "submit", class: "button is-primary is-rounded is-pulled-right mt-4" do %>
        <span class="icon">
          <i class="fas fa-floppy-disk"></i>
        </span>
      <span>Guardar</span>
    <% end %>
  </div>
<% end %>
