
<div id="<%= dom_id automatizacion %>">
  <p>
    <strong>Nombre:</strong>
    <%= automatizacion.nombre %>
  </p>
  <br>
  <p>
    <strong>Lista:</strong>
    <%= link_to "#{automatizacion.lista.nombre}", automatizacion.lista, data: { turbo_frame: "_top" } %>
  </p>
  <br>
  <p>
    <strong>Plantilla:</strong>
    <%= link_to "#{automatizacion.plantilla.nombre}", automatizacion.plantilla, data: { turbo_frame: "_top" } %>
  </p>
  <br>
  <p>
    <strong>Remitente:</strong>
    <%= automatizacion.remitente %>
  </p>
  <br>
  <p>
    <strong>Activa:</strong>
    <%= automatizacion.activa? ? "Sí" : "No" %>
  </p>
  <br>
  <p>
    <strong>Última ejecución:</strong>
    <%= localize(automatizacion.ejecuciones.last&.fecha, format: :long) %>
  </p>
</div>
