
<div id="<%= dom_id automatizacion %>">
  <p>
    <strong>Nombre:</strong>
    <%= automatizacion.nombre %>
  </p>
  <br>
  <p>
    <strong>Lista:</strong>
    <%= link_to "#{automatizacion.lista.nombre}", automatizacion.lista, data: { turbo_frame: "_top" } %>
  </p>
  <br>
  <p>
    <strong>Plantilla:</strong>
    <%= link_to "#{automatizacion.plantilla.nombre}", automatizacion.plantilla, data: { turbo_frame: "_top" } %>
  </p>
  <br>
  <p>
    <strong>Remitente:</strong>
    <%= automatizacion.remitente %>
  </p>
  <br>
  <p>
    <strong>Activa:</strong>
    <%= automatizacion.activa? ? "Sí" : "No" %>
  </p>
  <br>
  <p>
    <strong>Última ejecución:</strong>
    <%= localize(automatizacion.ejecuciones.order(fecha: :desc).first&.fecha, format: :long) %>
  </p>

  <br>
  <p>En la siguiente ejecución se contactará a los siguientes donantes:</p>
  <div class="container">
    <table class="table is-striped is-hoverable is-fullwidth mx-auto mt-5">
      <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">Tipo donante</th>
        <th scope="col">Última donación</th>
        <th scope="col">Grupo y factor</th>
        <th scope="col">Documento</th>
        <th scope="col">Correo electrónico</th>
        <th scope="col">Detalles</th>
      </tr>
      </thead>
      <tbody>
      <% automatizacion.donantes.each do |donante| %>
        <tr>
          <td style="width: 20%"><%= donante.nombre_completo %></td>
          <td><%= donante.edad %></td>
          <td><%= tipo_donante(donante.tipo_donante) %></td>
          <td><%= fecha_ultima_donacion(donante) %></td>
          <td><%= grupo_y_factor(donante.grupo_sanguineo, donante.factor) %></td>
          <td><%= donante.numero_documento %></td>
          <td><%= donante.correo_electronico %></td>
          <td><%= link_to "Detalles", donante, data: { turbo_frame: "_top" } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
