<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>FHBA-MKT</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
  <header>
    <section class="hero is-small is-primary">
      <div class="hero-body">
        <p class="subtitle">
          FHBA MKT
        </p>
      </div>
    </section>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <%= image_tag("logo.png") %>
        </a>
      </div>

      <% if usuario_signed_in? %>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/donantes">
            Donantes
          </a>
          <a class="navbar-item" href="#">
            Donaciones
          </a>
          <a class="navbar-item" href="/clinicas">
            Clínicas
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <%= button_to "Cerrar sesión", destroy_usuario_session_path, method: :delete, class: "button is-primary is-rounded is-outlined is-light" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </nav>
  </header>
  <main>
    <section class="section">
      <div class="container">
        <% if notice %>
          <div class="notification is-success" data-controller="hello">
            <button class="delete" data-action="click->hello#delete"></button>
            <%= notice %>
          </div>
        <% end %>
        <% if alert %>
          <div class="notification is-danger" data-controller="hello">
            <button class="delete" data-action="click->hello#delete"></button>
            <%= alert %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </section>
  </main>
  <footer class="footer">
    <p>Versión actual: <%= ENV["APP_VERSION"] %></p>
  </footer>

  </body>
</html>
