<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Myapp2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <header>
    <p style="color: green"><%= notice %></p>
    <p style="color: red"><%= alert %></p>
    <% if usuario_signed_in? %>
      <%= button_to "Sign out", destroy_usuario_session_path, method: :delete %>
    <% end %>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer></footer>

  </body>
</html>
